<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <%- include('../components/meta') %> 
    <%- include('../components/tailwindcss.ejs'); -%>
    <title><%= title %></title>
  </head>
  <body>
    <%- include("../components/navbar") %>
    <div class="font-san text-3xl font-bold w-full p-5 capitalize flex justify-between">Latest Products</div>
    <div class="px-5 py-3 flex gap-3 flex-wrap">
      <% if (products.length > 0) { %>
        <% products.forEach(function(product){ %>
          <%- include('../components/item', { product: product }) %>
        <% }); %>
        <% } else { %>
          <div class="w-full text-center text-lg text-slate-800">
            No products found
          </div>
        <% } %>
    </div>
  </body>
</html>
